* {
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 2);
    font-family: sans-serif;
}
.top{
    background-color: rgb(0, 0, 2);
    padding: 10px;
    overflow: hidden;
}
.active{
    float: left;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.2rem;
    text-transform: uppercase;

}

.top .search-container{
    float: right;
}

form{
    background-color: rgb(0, 0, 15);
    height: 43px;
    width: 300px;
    display: flex;
    border-radius: 11px;
    align-items: center;
    
}
input{
    all: unset;
    padding: 6px 9px ;
    width: 100%;
    height: 100%;
    

}
.thumbnail{
    max-height: 360px;
    width: 300px;
    border-radius: 19px;
    
}
.column{
    float: left;
    width: 25%;
    padding: 10px 10px;

}

.card{
    background-color: rgb(28, 26, 26);
    padding: 15px;
    text-align: center;
    border-radius: 19px;
    color: wheat;
}



